.link-direction {
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
.item-direction {
  display: flex;
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}
.direction-icon {
  margin-right: 10px;
}
